@font-face {
  font-family: 'Work Sans';
  src: url('font/WorkSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Work Sans';
  line-height: 1.35;
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: auto;
}

.containerBig {
  max-width: 1840px;
  padding: 0 10px;
  margin: auto;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.menuList {
  display: flex;
  gap: 0 30px;
}

.menuItm a {
  text-transform: uppercase;
  color: #0E0D0D;
}

.contact {
  text-transform: uppercase;
  padding: 10px 40px;
  background-color: #000000;
  color: #fff;
  border-radius: 50px;
}


.about {
  margin-bottom: 180px;
}

.imgBig {
  text-align: center;
  background-image: url(img/f.png);
  background-repeat: no-repeat;
  background-position: center center;
  color: #FDFDF0;
  min-height: 748px;
}

.aboutTitle {
  line-height: 1;
  font-size: 250px;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 70px;
}

.pTitle {
  font-size: 32px;
  line-height: 1.2;
  text-transform: uppercase;
}


.ff {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  margin-top: -55px;
}

.ff>a {
  border-radius: 20px;
  background-color: #F4F4E7;
  max-width: 580px;
  padding: 14px 10px;
  color: #000000;
}

.achivki {
  display: flex;
  gap: 0 25px;
}

.imgbox {
  min-width: 214px;
  position: relative;
}

.btnAch {
  position: absolute;
  right: 0;
  top: 4px;
}

.headerbox {
  line-height: 1.3;
  margin-bottom: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.pBox {
  font-weight: 100;
  font-size: 14px;
}

.d {
  font-weight: 600;
}



.stat {
  background-color: #F4F4E7;
  border-radius: 20px;
  margin-bottom: 69px;
  padding: 30px 18px;
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

.statsItm {
  text-align: center;
  width: 300px;
}

.dfg {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;

}

.qw {
  color: #0E0D0D;
  font-size: 22px;
  opacity: 71%;
}

.dos {
  color: #0E0D0D;
  font-size: 40px;
  opacity: 84%;
  line-height: 47px;
  margin-bottom: 40px;
}

.gh {
  font-weight: bold;
}

.boxImg {
  display: flex;
  gap: 140px;
}

.asd>p {
  margin: 5px 49px 45px 0;
  font-size: 18px;
  font-weight: 300;
}

.yut,
.s,
.rty {
  color: #F2A531;
}

.sp {
  font-weight: bold;
  color: #000000;
}

.dl dt {
  font-size: 18px;
  padding: 10px 0;
}

.dl dd {
  font-weight: 300;
  padding: 10px 0;
  opacity: .71;
}

.dl div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(14, 13, 13, .23);
  border-top: 1px solid rgb(14, 13, 13, .23);
}

.productWrapper {
  padding: 50px 0;
  background-color: #F4F4E7;
  border-radius: 20px;
}

.kk {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}

.d {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.d .vv,
.d .ooi {
  border-radius: 10px;
  min-height: 324px;
  margin-bottom: 13px;
  background-repeat: no-repeat;
  padding: 50px 24px;
  position: relative;
}

.ooi {
  color: #000000;
}

.vv {
  color: #fff;
}

.d a button {
  position: absolute;
  bottom: -12px;
  left: -4px;
}

.d a h3 {
  font-weight: 400;
  margin-bottom: 14px;
  font-size: 30px;
}

.d a p {
  font-weight: 300;
}

.gg {
  display: block;
  width: 260px;
  margin: auto;
  margin-top: 35px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #000000;
  border-radius: 94px;
  padding: 19px 97px 19px 38px;
  position: relative;
}

.gg img {
  position: absolute;
  right: 5px;
  top: 3px;
}

.slogan {
  text-align: center;
}

.slogan h6 {
  font-weight: 500;
  font-size: 40px;
  padding-top: 117px;
  text-transform: uppercase;
}

.slogan h2 {
  font-weight: 600;
  line-height: 1;
  font-size: 300px;
  text-transform: uppercase;
  color: #F2A531;
}

.slogan img {
  margin-top: -145px;
  width: 100%;
}

.part .container>div {
  display: flex;
}

.ggg {
  margin-top: 15px;
  margin-left: 6px;
}

.ffg {
  margin-right: -106px;
}

.part {
  margin-top: 130px;
  margin-bottom: 157px;
}

.fqw {
  margin-right: 120px;
}

.fqw h6 {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 210px;
}

.fqw {
  font-weight: 300;
  font-size: 20px;
}
.uyioo{
  margin-bottom: 20px;
}
.contact-button {
  display: inline-flex;
  /* Делаем кнопку inline-flex, чтобы подстраивалась под контент */
  align-items: center;
  /* Выравнивание элементов по вертикали */
  justify-content: space-between;
  /* Размещаем текст и иконку по краям */
  background-color: #000;
  /* Черный фон */
  color: #fff;
  /* Белый текст */
  padding: 19px 97px 19px 37px;
  /* Отступы */
  border-radius: 96px;
  /* Скругленные углы */
  font-size: 18px;
  position: relative;
  margin-top: 20px;
}

.contact-button img {
  position: absolute;
  top: 4px;
  right: 5px;
}


.ghb {
  background-color: #F4F4E7;
  padding: 100px 0;
  border-radius: 20px;
  margin-bottom: 80px;
}

.hhhh {
  display: flex;
  justify-content: center;
}

.blof .containerBig .container h3 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.ffff {
  color: #F2A531;
  font-size: 14px;
  margin: 32px 0 12px;
}

.uyij {
  max-width: 580px;
  margin-right: 44px;
}

.uyioo,
.uyipo {
  display: flex;
  flex-direction: row;
}

.uyipo h4,
.uyioo h4,
.uyij h4 {
  font-size: 24px;
  font-weight: 500;
}

.azxs {
  display: flex;
  margin-bottom: 12px;
  justify-content: space-between;
  position: relative;
}

.azxs img {
  position: absolute;
  right: 0;
  top: 0;
}

.azxs h4 {
  max-width: 356px;
}

.mjb {
  max-width: 796px;
  max-height: 432px;
}

.ghbn {
  margin-left: 24px;
}

.ffvv {
  display: flex;
  justify-content: center;
}



footer {
  background-color: #000000;
  padding: 100px 0;
  color: #ffffff;
  font-size: 16px;
}

.foterTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-right: 114px;
}

.foterBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #ffffff;
  font-size: 14px;
}

.navi p {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.navi li {
  margin-bottom: 15px;
}


@media (max-width: 1480px) {
  .slogan h2 {
    font-size: 250px;
  }

  .part .container>div {
    flex-wrap: wrap;
    justify-content: center;

  }

  .fqw {
    width: 725px;
    margin-right: 0;
  }

  .tty {
    width: 725px;
    margin-top: 40px;
  }

  .fqw h6 {
    margin-bottom: 50px;
  }
}

@media (max-width: 1370px) {
  .fqw {
    width: 725px;
    margin-right: 0;
  }

  .tty {
    width: 725px;
    margin-top: 40px;
  }

  .ffg {
    width: 300px;
    margin-right: -70px;
  }

  .frutyu {
    width: 211px;
  }

  .ggg {
    width: 447px;
  }
}

@media (max-width: 1255px) {
  .aboutTitle {
    font-size: 200px;
  }

  .ffvv h4 {
    font-size: 19px;
    width: 300px;
  }

  .ffvv p {
    font-size: 13px;
  }

  .slogan h2 {
    font-size: 200px;
    margin-bottom: 40px;
  }

  .slogan h6 {
    font-size: 25px;
  }

  .pTitle {
    font-size: 28px;
  }
}

@media (max-width: 1200px) {
  .ff {
    display: flex;
    gap: 10px;
  }

  .textbox {
    font-size: 60%;
  }

  .btnAch {
    width: 25px;
  }
}

@media (max-width:1170px) {
  .achivki {
    display: flex;
    flex-wrap: wrap;
  }

  .imgAch {
    width: 400px;
  }

  .btnAch img {
    min-width: 60px;
    margin-left: -20px;
  }

  .textbox {
    font-size: 100%;
  }
}

@media(max-width:1160px) {
  .boxImg img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 40px;
  }

  .yui {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .boxImg {
    flex-wrap: wrap;
    gap: 30px;
  }

  .stat {
    flex-wrap: wrap;
  }

  .d a h3 {
    font-size: 25px;
  }

  .d a p {
    font-size: 13px;
  }
}

@media (max-width:1135px) {
  .stat {
    gap: 10px;
  }

  .mjb {
    width: 650px;
  }

  .uyij {
    width: 360px;
  }

  .yui {
    display: flex;
    justify-content: center;
    width: 100%;
  }

}

@media (max-width: 1100px) {

  .menuList {
    display: none;
  }

  .contact {
    display: none;
  }

  .menu {
    display: flex;
  }

  .menu button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    position: relative;
  }

  .menu button span {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
    transition: .2s ease;
  }

  .menuOpen button span:nth-child(1) {
    transform: scaleX(0);
  }

  .menuOpen button span:nth-child(2) {

    transform: rotate(45deg);
  }

  .menuOpen button span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .menuOpen button span:nth-child(4) {
    transform: scaleX(0);
  }

  .menu button span:nth-child(1) {
    top: 0;
  }

  .menu button span:nth-child(2) {
    top: 20px;
  }

  .menu button span:nth-child(3) {
    top: 20px;
  }

  .menu button span:nth-child(4) {
    top: 40px;
  }

  .headerInner {
    margin: 0;
    padding-top: 20px;
  }

  .aboutTitle {
    padding-top: 150px;
  }

  .imgBig {
    margin-top: -80px;
  }

  .aboutTitle {
    font-size: 150px;
  }

  .pTitle {
    font-size: 22px;
  }

  .ff {
    margin-top: -150px;
  }

  .d {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .d .vv,
  .d .ooi {
    width: 500px;
  }
}

@media (max-width: 1065px) {
  .ffvv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .uyioo,
  .uyij {
    margin-bottom: 20px;
  }

  .uyij {
    display: flex;
    min-width: 800px;
    margin-right: -17px;
  }

  .uyij>img {
    width: 320px;
  }

  .era {
    width: 443px;
    margin-left: 24px;
  }

  .mjb {
    width: 786px;
  }
}

@media (max-width: 980px) {
  .textbox {
    font-size: 60%;
  }

  .slogan h2 {
    font-size: 150px;
    margin-bottom: 60px;
  }

  .btnAch img {
    min-width: 30px;
    margin-left: -10px;
  }

  .imgAch {
    max-width: 314px;
  }

  .stat {
    gap: 30px;
    justify-content: center;
  }
}

@media (max-width: 870px) {
  .aboutTitle {
    font-size: 110px;
  }
  .imgAch {
    max-width: 214px;
  }

  .pTitle {
    font-size: 16px;
  }

  .dos {
    font-size: 30px;
  }
}

@media (max-width:815px) {

  .uyij {
    min-width: 630px;
  }

  .uyij {
    margin-right: 0px;
  }

  .mjb {
    width: 630px;
  }
}

@media (max-width:750px) {
  .dfg {
    font-size: 23px;
  }
.foterTop{
  margin-right: 20px;
}
  .slogan h2 {
    font-size: 100px;
    margin-bottom: 90px;
  }

  .slogan h6 {
    font-size: 15px;
  }

  .qw {
    font-size: 11px;
  }

  .dos {
    font-size: 20px;
  }
}

@media(max-width: 700px) {
  .ff {
    justify-content: center;
    flex-wrap: wrap;
  }

  .ff>a {
    width: 340px;
  }
}

@media(max-width: 685px) {
  .containerBig>.container {
    height: 1300px;
  }

  .stat {
    justify-content: center;
  }

  .uyij,
  .uyipo,
  .uyioo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .mjb {
    width: 440px;
  }

  .era {
    width: 440px;
  }

  .uyij {
    min-width: 440px;
  }

  .ff {
    margin-bottom: 35px;
  }

  .era {
    margin-left: 0;
  }

  .zxc,
  .ghbn {
    width: 430px;
  }

  .ghbn {
    margin-left: 0px;
  }

  .uyij>img {
    width: 430px;
  }
}

@media(max-width: 665px) {
  .containerBig>.container{
    height: 1000px;
  }
  .uyij>img {
    width: 250px;
  }

  .zxc {
    width: 250px;
  }

  .era {
    width: 250px;
  }

  .ghbn {
    width: 250px;
  }

  .ffvv h4 {
    font-size: 18px;
  }

  .ffvv p {
    font-size: 10px;
  }
}

@media(max-width:640px) {
  .fqw {
    width: 452px;
  }

  .tty {
    width: 452px;
    margin-top: 28px;
  }

  .fqw h6 {
    font-size: 28px;
    margin-bottom: 19px;
  }

  .fqw p {
    font-size: 14px;
  }

  .dl dt {
    font-size: 12px;
  }

  .dl dd {
    font-size: 12px;
  }
}

@media (max-width: 565px) {
  .kk {
    font-size: 30px;
  }

  .aboutTitle {
    font-size: 70px;
  }

  .aboutTitle {
    padding-top: 200px;
  }

  .imgBig {
    margin-top: -120px;
  }

  .pTitle {
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  .slogan h2 {
    font-size: 60px;
    margin-bottom: 115px;
  }

  .slogan h6 {
    font-size: 10px;
  }
}

@media (max-width: 472px) {
  .ffg {
    width: 240px;
  }
footer{
  font-size: 0.7rem;
}
.foterBottom{
  font-size: 0.7rem;
}
.foterImg img{
  width: 40px;
}
  .frutyu {
    width: 164px;
  }

  .ggg {
    width: 340px;
  }
}

@media (max-width: 460px) {
  .logoImg {
    width: 110px;
  }

  .menu {
    width: 30px;
    height: 30px;
  }

  .dl dt {
    font-size: 10px;
  }

  .dl dd {
    font-size: 10px;
  }

  .menu button span:nth-child(1) {
    top: 0;
  }

  .menu button span:nth-child(2) {
    top: 15px;
  }

  .menu button span:nth-child(3) {
    top: 15px;
  }

  .menu button span:nth-child(4) {
    top: 28px;
  }
  .blof .containerBig .container h3{
    font-size: 27px;
  }
  .uyipo,
  .uyioo{
    width: 320px;
  }
  .mjb{
    width: 340px;
  }
  .ffvv h4{
    width: 250px;
  }
  .uyij{
    min-width:min-content;
  }
}